/* Test */

/* .person {
  border: solid red 3px;
}
 */

 /* Challanege1 */

.bbc {
  width: 224px;
  box-sizing: border-box;
  display: inline-block;
  flex-direction: column;
  margin: 4px;
  padding: 4px;
}

/* Challange2 */

.p {
  margin-top: -10px;
  font-size: 0.75rem;
  color: rgb(67, 71, 75);
}

.timeTopic {
  margin-top: -5px;
  font-size: 0.7rem;
}

.airbnb {
  width: 285px;
  box-sizing: border-box;
  display: inline-block;
  flex-direction: column;
  margin: 4px;
  padding: 4px;
  font-size: 0.85rem;
}


/* Challenge3 */

/* body {
  background: black;
} */

.netflix {
  width: 240px;
  box-sizing: border-box;
  display: inline-block;
  flex-direction: column;
  padding: 4px;
  font-size: 0.85rem;
}